.navbar {
    background-color: #000000;
    background-image: url("../images/destinynav.jpg");
    background-repeat: no-repeat;
}

section {
    padding-top: 150px;
}

section img {
    border-style: solid;
    border-color: #6f42c1;
    border-radius: 5px;
    border-width: 5px;
}

footer img {
    display:block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width:576px){
    .clearfix img{
        width:100%;
    }
}

@media screen and (max-width:576px){
    .navbar{
        background-image: none;
    }
}






